<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <a href="/contact">Contact</a>
    </nav>
    <main>
        <h3>About</h3>
         <p>Dive into seamless fullstack magic—Express.js, the lightning-fast, minimalist Node.js framework, lets you craft robust backends, RESTful APIs, and dynamic servers in pure JavaScript. Whip up middleware magic, effortless routing, templating, auth, and real-time apps; pair it with React/Vue frontends + MongoDB (👆🏼 MERN!) if you insist for end-to-end JS glory. Unopinionated yet battle-tested: scale from prototypes to production beasts with npm ecosystem superpowers. Code once, rule the stack—build, deploy, dominate.</p>
    </main>
    <footer>
        Footer
    </footer>
    
</body>
</html>